Repository maximunited/yomu: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, type-check

lint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

type-check:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

fix: remove trailing whitespace from documentation files
  DEV_CHECKLIST.md
  docs/ARCHITECTURE.md
  docs/DATABASE_MIGRATION.md
Due: none

fix: remove trailing whitespace from QUICKSTART.md
  QUICKSTART.md
Due: none

fix: address Qodo code review findings
  QUICKSTART.md
  docs/ARCHITECTURE.md
  docs/DOCKER.md
Due: none

docs: comprehensive PostgreSQL setup guide and system architecture (#59)
  .env.example
  .env.local.example
  CLAUDE.md
  CONTRIBUTING.md
  DEV_CHECKLIST.md
  QUICKSTART.md
  README.md
  docs/ARCHITECTURE.md
  docs/DATABASE_MIGRATION.md
  docs/DOCKER.md
  docs/FIXES_APPLIED.md
Due: none

ci: add explicit CodeQL workflow configuration
  .github/workflows/codeql.yml
Due: none

fix(ci): disable Scrutinizer builds to prevent infrastructure failures
  .scrutinizer.yml
Due: none

fix(deps): update dependencies to resolve tmp path traversal vulnerability
  package-lock.json
Due: none

fix(test): update i18n import path after dependency update
  tests/unit/i18n/next-intl-config.test.ts
Due: lint, type-check

fix: resolve eslint 10 compatibility with eslint-plugin-react
  eslint.config.mjs
  package.json
Due: lint

chore: remove standalone output for Vercel deployment
  next.config.ts
Due: lint, type-check

docs: update CLAUDE.md to reflect Clerk authentication
  CLAUDE.md
Due: none

chore: add .wolf to .prettierignore
  .prettierignore
Due: none

feat: finalize Clerk setup with auth controls and proxy fix
  jest.setup.js
  src/app/page.tsx
  src/proxy.ts
  tests/unit/accessibility/app-accessibility.test.tsx
  tests/unit/i18n/middleware.test.ts
  tests/unit/pages/home.render.test.tsx
Due: lint, type-check

style: format jest.setup.js
  jest.setup.js
Due: lint

fix: restore standalone output and update hono for security audit
  next.config.ts
  package-lock.json
Due: lint, type-check

ci: add Dependabot automerge workflow
  .github/workflows/dependabot-automerge.yml
Due: none

fix(ci): improve dependabot auto-merge workflow
  .github/workflows/dependabot-automerge.yml
Due: none

fix(ci): improve dependabot auto-merge workflow (#98)
  .github/workflows/dependabot-automerge.yml
Due: none

fix(ci): don't fail automerge when PR approval is not permitted
  .github/workflows/dependabot-automerge.yml
Due: none

fix(ci): don't fail automerge when PR approval is not permitted (#100)
  .github/workflows/dependabot-automerge.yml
Due: none

fix: update .nvmrc and regenerate package-lock.json
  .nvmrc
  package-lock.json
Due: none

fix: update .nvmrc and regenerate package-lock.json (#101)
  .nvmrc
  package-lock.json
Due: none

chore: add duplicate .vercel to gitignore
  .gitignore
Due: none

feat: sync loyalty catalog with verification and reminders
  .github/workflows/audit-loyalty-urls.yml
  CLAUDE.md
  README.md
  docs/BENEFITS_SPECIFICATION.md
  package.json
  prisma/migrations/20260801220000_add_benefit_verification_and_remind/migration.sql
  prisma/schema.prisma
  public/images/brands/cafe-mandarin.svg
  public/images/brands/castro.svg
  public/images/brands/delta.svg
  public/images/brands/factory54.svg
  public/images/brands/gali.svg
  public/images/brands/golf.svg
  public/images/brands/honigman.svg
  public/images/brands/jump.svg
  public/images/brands/wow.svg
  scripts/audit-loyalty-urls.js
  scripts/seed.js
  src/app/api/admin/init-db/route.ts
  src/app/api/seed/route.ts
  src/app/api/user/memberships/route.ts
  src/app/dashboard/page.tsx
  src/app/memberships/page.tsx
  src/lib/translations.ts
  src/types/admin.ts
  tests/unit/api/user-memberships.test.ts
  tests/unit/lib/benefit-validation.test.ts
  tests/unit/lib/translations.test.ts
  tests/unit/pages/dashboard.filters.test.tsx
  tests/unit/types/admin.test.ts
  tests/utils/test-helpers.tsx
Due: lint, type-check

fix: address Qodo review on remind PATCH and RTL spacing
  scripts/audit-loyalty-urls.js
  src/app/api/user/memberships/route.ts
  src/app/dashboard/page.tsx
  tests/unit/api/user-memberships.test.ts
  tests/unit/lib/translations.test.ts
Due: lint, type-check

fix(ci): clear production npm audit findings
  package-lock.json
  package.json
Due: none

feat: add Burgers Bar birthday benefit
  package.json
  public/images/brands/burgers-bar.svg
  scripts/seed.js
  src/app/api/seed/route.ts
Due: lint, type-check

chore(deps): pin dependabot to skip TypeScript 7.0.x
  .github/dependabot.yml
Due: none

fix: lock down public APIs, admin RBAC, and birthday windows
  public/images/brands/burger-station.png
  scripts/seed.js
  src/app/admin/page.tsx
  src/app/api/admin/benefits/[id]/route.ts
  src/app/api/admin/benefits/route.ts
  src/app/api/admin/brands/[id]/route.ts
  src/app/api/admin/brands/route.ts
  src/app/api/admin/init-db/route.ts
  src/app/api/seed/route.ts
  src/app/api/setup/route.ts
  src/app/api/test-prisma/route.ts
  src/app/api/test-users/route.ts
  src/app/api/webhooks/route.ts
  src/app/dashboard/page.tsx
  src/app/onboarding/page.tsx
  src/lib/admin-auth.ts
  src/lib/benefit-validation.ts
  src/lib/clerk-user.ts
  src/proxy.ts
  tests/unit/api/admin-benefit-id.test.ts
  tests/unit/api/admin-benefits.test.ts
  tests/unit/api/test-prisma.test.ts
  tests/unit/api/test-users.test.ts
  tests/unit/lib/benefit-validation.edge-cases.test.ts
  tests/unit/lib/benefit-validation.test.ts
  tests/unit/pages/admin.test.tsx
  tests/unit/pages/onboarding.render.test.tsx
  tests/unit/pages/onboarding.select.submit.test.tsx
Due: lint, type-check

fix: align e2e with Clerk and add User.clerkId migration script
  scripts/add-clerkid-column.js
  tests/e2e/accessibility.spec.ts
  tests/e2e/auth.spec.ts
  tests/e2e/benefits.spec.ts
  tests/e2e/dark-mode.spec.ts
  tests/e2e/dashboard.spec.ts
  tests/e2e/helpers/auth-helpers.ts
  tests/e2e/homepage.spec.ts
  tests/e2e/memberships.spec.ts
  tests/e2e/mobile.spec.ts
  tests/integration/api/test-api.js
Due: lint, type-check

style: format seed.js for prettier pre-push check
  scripts/seed.js
Due: lint

test: wire Clerk authenticated Playwright e2e
  .env.example
  .gitignore
  CLAUDE.md
  package-lock.json
  package.json
  playwright.config.ts
  tests/e2e/dashboard.authenticated.spec.ts
  tests/e2e/global.setup.ts
  tests/e2e/helpers/clerk-env.ts
  tests/e2e/memberships.authenticated.spec.ts
Due: lint, type-check

test: stabilize Playwright e2e across WebKit and dark mode
  playwright.config.ts
  tests/e2e/auth.spec.ts
  tests/e2e/dark-mode.spec.ts
  tests/e2e/dashboard.spec.ts
  tests/e2e/helpers/auth-helpers.ts
  tests/e2e/helpers/dark-mode-helpers.ts
  tests/e2e/helpers/navigation.ts
  tests/e2e/helpers/page-helpers.ts
  tests/e2e/homepage.spec.ts
  tests/e2e/memberships.spec.ts
  tests/e2e/mobile.spec.ts
Due: lint, type-check

chore: ignore Playwright report and local tool dirs in ESLint
  eslint.config.mjs
  tests/e2e/auth.spec.ts
Due: lint, type-check

test: lock admin RBAC and dangerous-route security contracts
  .gitignore
  CLAUDE.md
  docs/ADMIN_API_SECURITY.md
  src/proxy.ts
  tests/unit/api/admin-benefits.test.ts
  tests/unit/api/seed-security.test.ts
  tests/unit/api/setup-security.test.ts
  tests/unit/api/test-prisma.test.ts
  tests/unit/api/test-users.test.ts
  tests/unit/i18n/middleware.test.ts
  tests/unit/lib/admin-auth.test.ts
  tests/unit/proxy-public-routes.test.ts
  tests/unit/scripts/seed-safety.test.ts
Due: lint, type-check

fix: harden seed/setup security and seed-safety contracts
  tests/unit/api/seed-security.test.ts
  tests/unit/api/setup-security.test.ts
  tests/unit/scripts/seed-safety.test.ts
Due: lint, type-check

fix: satisfy pre-commit EOF fixer for gitignore and brand SVG
  .gitignore
  public/images/brands/burgers-bar.svg
Due: none

test: lock admin RBAC and dangerous-route security contracts (#146)
  .gitignore
  .vscode/settings.json
  CLAUDE.md
  docs/ADMIN_API_SECURITY.md
  public/images/brands/burgers-bar.svg
  src/lib/admin-auth.ts
  src/proxy.ts
  tests/unit/api/admin-benefits.test.ts
  tests/unit/api/seed-security.test.ts
  tests/unit/api/setup-security.test.ts
  tests/unit/api/test-prisma.test.ts
  tests/unit/api/test-users.test.ts
  tests/unit/i18n/middleware.test.ts
  tests/unit/lib/admin-auth.test.ts
  tests/unit/proxy-public-routes.test.ts
  tests/unit/scripts/seed-safety.test.ts
Due: lint, type-check

Path conditions:
  lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  type-check: any of: \.(ts|mts|cts)$, \.tsx$
