Repository maximunited/yomu: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, type-check

lint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

type-check:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

chore(deps): update dependencies within semver range
  package-lock.json
  scripts/check-all-updates.js
  scripts/safe-update.js
Due: lint

feat: upgrade to Next.js 16.2.4
  .claude/settings.local.json
  next.config.ts
  package-lock.json
  package.json
  scripts/upgrade-nextjs-16.js
  tsconfig.json
Due: lint, type-check

fix: temporarily disable ESLint in pre-commit hooks
  package-lock.json
  package.json
Due: none

style: format all files with Prettier
  scripts/check-all-updates.js
  tsconfig.json
Due: lint

chore(deps): update to latest major versions
  package-lock.json
  package.json
  scripts/rollback-and-update-safe.js
  scripts/update-major-versions.js
Due: lint

fix(eslint): resolve circular dependency error by downgrading to ESLint 9
  eslint.config.mjs
  package-lock.json
  package.json
Due: lint

fix(tests): increase fetch call threshold for CI environments
  tests/unit/pages/memberships.useeffect.test.tsx
Due: lint, type-check

refactor(eslint): downgrade all errors to warnings for gradual adoption
  eslint.config.mjs
  scripts/download-brand-logos.js
  scripts/quick-ci-check.js
  scripts/simulate-github-actions.js
  scripts/test-ci-local.js
  scripts/test-docker.js
  tests/integration/test-brand-logos-authenticity.js
  tests/integration/test-brand-logos.js
  tests/unit/i18n/next-intl-config.test.ts
  tests/unit/i18n/request.test.ts
  tests/unit/lib/prisma.test.ts
Due: lint, type-check

fix(lint): use eslint directly instead of next lint
  package.json
  scripts/download-brand-logos.js
  scripts/quick-ci-check.js
  scripts/simulate-github-actions.js
  scripts/test-ci-local.js
  scripts/test-docker.js
Due: lint

chore: add pre-commit hooks configuration
  .pre-commit-config.yaml
  .prettierignore
  .secrets.baseline
  CONTRIBUTING.md
Due: none

fix: address Qodo review findings for pre-commit config
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

fix: resolve pre-commit hook failures
  .pre-commit-config.yaml
Due: none

fix: skip ESLint in pre-commit.ci due to network restrictions
  .pre-commit-config.yaml
Due: none

fix: apply pre-commit.ci auto-fixes for line endings and whitespace
  .gitignore
  .husky/pre-push
  docs/CI-TESTING.md
Due: none

fix: exclude binary images and .vscode from line ending checks
  .pre-commit-config.yaml
Due: none

chore: add pre-commit hooks configuration (#40)
  .gitignore
  .husky/pre-push
  .pre-commit-config.yaml
  .prettierignore
  .secrets.baseline
  CONTRIBUTING.md
  docs/CI-TESTING.md
Due: none

fix: remove unsupported 'resolutions' field causing npm ci failure
  README.md
  package.json
Due: none

fix: address Qodo review findings for security upgrade
  README.md
  package.json
Due: none

fix(security): upgrade Next.js to 16.2.6 and enforce PostCSS 8.5.10+
  package-lock.json
  package.json
Due: none

fix(security): upgrade Next.js to 16.2.6 and enforce PostCSS 8.5.10+ (#39)
  README.md
  package-lock.json
  package.json
Due: none

chore(ci): optimize AppVeyor configuration for faster builds
  appveyor.yml
Due: none

fix(ci): address Qodo and CodeRabbit review findings
  appveyor.yml
Due: none

chore(ci): optimize AppVeyor configuration for faster builds (#41)
  appveyor.yml
Due: none

chore(settings): add auto-allow permissions for common operations
  .claude/settings.local.json
Due: none

fix(git): exclude .claude directory from version control
  .claude/settings.local.json
  .claude/whitespace-prevention.md
  .gitignore
Due: none

fix(git): exclude .claude directory from version control (#43)
  .claude/settings.local.json
  .claude/whitespace-prevention.md
  .gitignore
Due: none

fix(ci): properly initialize nvm for Ubuntu AppVeyor builds
  appveyor.yml
Due: none

fix(ci): ensure nvm activation persists across all AppVeyor steps
  appveyor.yml
Due: none

fix(ci): use Scrutinizer's pre-installed Node instead of nvm
  .scrutinizer.yml
Due: none

fix(ci): prevent duplicate Coveralls uploads on PRs
  .github/workflows/ci.yml
Due: none

fix(ci): downgrade Scrutinizer to Node 18 (pre-installed version)
  .scrutinizer.yml
Due: none

fix(ci): fix Node.js installation and deduplicate Coveralls uploads (#44)
  .github/workflows/ci.yml
  .scrutinizer.yml
  appveyor.yml
Due: none

docs: add comprehensive deployment guide
  docs/DEPLOYMENT.md
Due: none

chore(deploy): add environment variable templates for Vercel
  .env.example
  .gitignore
  VERCEL_ENV_VARIABLES.txt
Due: none

feat(db): migrate from SQLite to PostgreSQL for Vercel deployment
  prisma/schema.prisma
Due: none

fix(auth): add missing name and dateOfBirth fields to signup form
  src/app/auth/signup/page.tsx
Due: lint, type-check

fix(auth): capitalize Name label and auto-migrate database on build
  package.json
  src/app/auth/signup/page.tsx
Due: lint, type-check

fix(db): add database setup endpoint and postbuild migration
  package.json
  src/app/api/setup/route.ts
Due: lint, type-check

fix(db): simplify setup endpoint to check database status
  src/app/api/setup/route.ts
Due: lint, type-check

feat: add database initialization endpoint for Vercel deployment
  .gitignore
  scripts/init-vercel-db.js
  src/app/api/admin/init-db/route.ts
  src/app/api/setup/route.ts
Due: lint, type-check

Path conditions:
  lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  type-check: any of: \.(ts|mts|cts)$, \.tsx$
