Repository maximunited/yomu: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, type-check

lint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

type-check:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

fix(db): use raw SQL for schema initialization instead of shell commands
  src/app/api/admin/init-db/route.ts
Due: lint, type-check

fix(db): add missing CONSTRAINT keyword in used_benefits foreign key
  src/app/api/admin/init-db/route.ts
Due: lint, type-check

fix(db): split SQL statements - execute each CREATE TABLE separately
  src/app/api/admin/init-db/route.ts
Due: lint, type-check

ci: disable Scrutinizer build due to old GLIBC infrastructure
  .scrutinizer.yml
Due: none

fix(ui): prevent button text wrapping in benefit cards
  src/app/dashboard/page.tsx
Due: lint, type-check

feat(ui): make all benefit card buttons equal width with hover tooltips
  src/app/dashboard/page.tsx
Due: lint, type-check

fix(assets): replace placeholder brand logos with proper ones
  public/images/brands/isracard.png
  public/images/brands/isracard.svg
  public/images/brands/lavido.png
  public/images/brands/lordkitsch.png
  public/images/brands/mac.png
  public/images/brands/tcp.png
  scripts/seed.js
Due: lint

fix(assets): replace placeholder/corrupted logos with real brand logos
  public/images/brands/bbb.png
  public/images/brands/giraffe.png
  public/images/brands/giraffe.svg
  public/images/brands/humongous.svg
  public/images/brands/james.svg
  public/images/brands/kfc.svg
  public/images/brands/nono-mimi.png
Due: none

fix(build): revert to SQLite for local development and fix failing tests
  prisma/schema.prisma
  tests/unit/pages/auth-signup.test.tsx
Due: lint, type-check

fix(assets): replace remaining placeholder logos with real ones
  public/images/brands/buckaroo.png
  public/images/brands/buckaroo.svg
  public/images/brands/escape-room.png
  public/images/brands/escape-room.svg
  public/images/brands/m32.png
  public/images/brands/m32.svg
  public/images/brands/menam.png
  public/images/brands/menam.svg
  scripts/seed.js
Due: lint

fix(assets): correct Segev logo and website URL
  public/images/brands/segev.png
  public/images/brands/shegev.svg
  scripts/seed.js
Due: lint

fix(db): revert to PostgreSQL for Vercel production
  prisma/schema.prisma
Due: none

fix(ci): skip database push in CI builds
  .github/workflows/ci.yml
  package.json
Due: none

fix(ci): use Node.js script for conditional database push
  package.json
  scripts/conditional-db-push.js
Due: lint

style: format conditional-db-push.js with Prettier
  scripts/conditional-db-push.js
Due: lint

chore(deps): update lucide-react and tailwind-merge to latest
  package-lock.json
  package.json
Due: none

fix(security): upgrade uuid to 11.1.1+ to fix moderate vulnerability
  package-lock.json
  package.json
Due: none

feat: migrate to Prisma 7 with PostgreSQL driver adapter
  package-lock.json
  package.json
  prisma/prisma.config.ts
  prisma/schema.prisma
  src/lib/prisma.ts
Due: lint, type-check

fix(prisma): remove --skip-generate flag (removed in Prisma 7)
  scripts/conditional-db-push.js
Due: lint

fix(prisma): add fallback DATABASE_URL for build time
  prisma/prisma.config.ts
Due: lint, type-check

fix(prisma): pass DATABASE_URL via --url flag for db push
  scripts/conditional-db-push.js
Due: lint

style: format conditional-db-push.js
  scripts/conditional-db-push.js
Due: lint

fix: resolve CI failures and security vulnerabilities
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  compose.yml
  package-lock.json
  package.json
Due: none

fix(ci): add DATABASE_URL to quick-ci-check script
  scripts/quick-ci-check.js
Due: lint

fix(prisma7): address code review issues
  prisma/prisma.config.ts
  scripts/add-giraffe-partnership.js
  scripts/admin-helper.js
  scripts/check-db.js
  scripts/conditional-db-push.js
  scripts/prisma-client.js
  scripts/quick-ci-check.js
  scripts/seed.js
  src/lib/prisma.ts
  tests/integration/final-multi-brand-test.js
  tests/integration/test-benefit-detail.js
  tests/integration/test-benefits.js
  tests/integration/test-brand-logos-authenticity.js
  tests/integration/test-complex-membership-api.js
  tests/integration/test-connection.js
  tests/integration/test-custom-memberships-partnerships.js
  tests/integration/test-dashboard.js
  tests/integration/test-memberships-api.js
  tests/integration/test-multi-brand-partnerships.js
  tests/integration/test-partnerships.js
  tests/integration/test-ui-partnerships.js
Due: lint, type-check

fix: correct file extensions for misnamed brand logos
  public/images/brands/humongous.png
  public/images/brands/humongous.svg
  public/images/brands/james.png
  public/images/brands/james.svg
  public/images/brands/kfc.png
  public/images/brands/kfc.svg
  public/images/brands/libira.png
  public/images/brands/mika.jpg
  public/images/brands/prague.png
  public/images/brands/shilav.jpg
  scripts/seed.js
  src/app/api/seed/route.ts
  src/app/memberships/page.tsx
Due: lint, type-check

test: exclude prisma.ts from coverage collection
  jest.config.js
  tests/unit/lib/prisma.test.ts
Due: lint, type-check

fix(prisma7): replace SQLite-specific query and improve error handling
  scripts/prisma-client.js
  tests/integration/test-custom-memberships-partnerships.js
Due: lint

docs: clarify Node.js version strategy and add .nvmrc
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .nvmrc
  CLAUDE.md
  Dockerfile
  Dockerfile.dev
  README.md
  docs/DOCKER.md
  scripts/verify-node-version.js
Due: lint

style: format verify-node-version.js
  scripts/verify-node-version.js
Due: lint

chore: update Node.js version from 20.9.0 to 22.14.0
  .env.production
  .env.vercel
  .nvmrc
  CLAUDE.md
  Dockerfile
  Dockerfile.dev
  README.md
  docs/DOCKER.md
  package.json
  prisma/prisma/dev.db
  scripts/verify-node-version.js
  setup-db.sh
Due: lint

fix: resolve Docker PostgreSQL configuration issues
  .env.example
  .github/workflows/ci.yml
  Dockerfile
  prisma/migrations/migration_lock.toml
  scripts/docker-setup.sh
  scripts/quick-ci-check.js
Due: lint

fix(build): remove accidentally committed .env files
  .env.production
  .env.vercel
Due: none

fix: address all PR #56 code review findings
  .gitignore
  CLAUDE.md
  docs/DOCKER.md
  package.json
  prisma/prisma.config.ts
  setup-db.sh
  src/lib/prisma-script.ts
  tests/unit/lib/prisma-script.test.ts
Due: lint, type-check

docs: update to Node.js 22.14.0 LTS and add version strategy (#56)
  .env.example
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .gitignore
  .nvmrc
  CLAUDE.md
  Dockerfile
  Dockerfile.dev
  README.md
  docs/DOCKER.md
  package.json
  prisma/migrations/migration_lock.toml
  prisma/prisma.config.ts
  prisma/prisma/dev.db
  scripts/docker-setup.sh
  scripts/quick-ci-check.js
  scripts/verify-node-version.js
  setup-db.sh
  src/lib/prisma-script.ts
  tests/unit/lib/prisma-script.test.ts
Due: lint, type-check

docs: fix database configuration inconsistencies and add comprehensive PostgreSQL setup guide
  .env.example
  .env.local.example
  CLAUDE.md
  QUICKSTART.md
  README.md
  docs/DATABASE_MIGRATION.md
  docs/DOCKER.md
  docs/FIXES_APPLIED.md
Due: none

docs: add comprehensive architecture guide and developer checklists
  CONTRIBUTING.md
  DEV_CHECKLIST.md
  docs/ARCHITECTURE.md
Due: none

Path conditions:
  lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  type-check: any of: \.(ts|mts|cts)$, \.tsx$
