Repository maximunited/yomu: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, type-check

lint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

type-check:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

fix: resolve test failures in benefit validation and skip problematic auth tests
  DEVELOPMENT.md
  tests/unit/lib/auth.test.ts
  tests/unit/lib/benefit-validation.test.ts
Due: lint, type-check

Fix all failing tests and improve test reliability
  src/app/settings/page.tsx
  tests/unit/pages/dashboard.filters.test.tsx
  tests/unit/pages/memberships.useeffect.test.tsx
  tests/unit/pages/settings.form.test.tsx
Due: lint, type-check

Add pre-commit hooks with linting, formatting, and testing
  .husky/pre-commit
  .prettierignore
  .prettierrc
  README.md
  package-lock.json
  package.json
Due: none

Test pre-commit hook functionality
  tests/unit/pages/settings.form.test.tsx
Due: lint, type-check

Clean up test file
  tests/unit/pages/settings.form.test.tsx
Due: lint, type-check

Fix husky deprecation warning and line ending issues
  .gitattributes
  .husky/pre-commit
Due: none

Test pre-commit hook after fixes
  tests/unit/pages/settings.form.test.tsx
Due: lint, type-check

Add shebang to pre-commit hook to fix shell warning
  .husky/pre-commit
Due: none

Enable all disabled tests and fix linting issues
  tests/unit/api/admin-benefit-id.skip.ts
  tests/unit/api/admin-benefit-id.test.ts
  tests/unit/api/admin-benefits.skip.ts
  tests/unit/api/admin-benefits.test.ts
  tests/unit/lib/auth.test.ts
  tests/unit/lib/benefit-validation.edge-cases.test.ts
Due: lint, type-check

Update packages and fix test threshold
  package-lock.json
  tests/unit/pages/memberships.useeffect.test.tsx
Due: lint, type-check

Fix Scrutinizer CI issues and test failures
  .scrutinizer.yml
  jest.config.js
  tests/unit/api/benefits.test.ts
  tests/unit/api/test-users.test.ts
  tests/unit/api/user-profile.enhanced.test.ts
  tests/unit/api/user-profile.test.ts
Due: lint, type-check

Improve Scrutinizer CI configuration
  .scrutinizer.yml
Due: none

Remove pre-commit configuration to resolve conflicts
  .pre-commit-config.yaml
Due: none

Fix Scrutinizer CI test setup failures
  .scrutinizer.yml
Due: none

Fix Next.js 15 useSearchParams() suspense boundary issue
  src/app/dashboard/page.tsx
Due: lint, type-check

Fix CI workflow test failures
  tests/unit/pages/memberships.useeffect.test.tsx
Due: lint, type-check

Fix CI workflow Coveralls timeout issue
  .github/workflows/ci.yml
Due: none

fix: improve pre-commit hook to check command directly instead of using True
  .husky/pre-commit
Due: none

fix: add package overrides to resolve inflight and glob deprecation warnings
  package.json
Due: none

fix: add package overrides to resolve inflight and glob deprecation warnings
  package-lock.json
Due: none

chore: ensure all packages are up to date
  package-lock.json
  package.json
Due: none

fix: update Scrutinizer CI Node.js version to fix build failures
  .claude/settings.local.json
  .scrutinizer.yml
Due: none

fix: change scrutinizer-ci to use version v23.11.0
  .scrutinizer.yml
Due: none

fix: change scrutinizer-ci to use version latest
  .scrutinizer.yml
Due: none

fix: improve Scrutinizer CI configuration for better compatibility
  .scrutinizer.yml
Due: none

remote the node version in scrutinizer-ci
  .scrutinizer.yml
Due: none

incorrect directive in scrutinizer-ci
  .scrutinizer.yml
Due: none

fix: regenerate package-lock.json and fix formatting to resolve Scrutinizer CI issues
  .claude/settings.local.json
  .scrutinizer.yml
  package-lock.json
Due: none

feat: configure Husky git hooks for code quality automation
  .claude/settings.local.json
  .commitlintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: lint

fix: add shebang to pre-commit hook to resolve shell detection error
  .husky/pre-commit
Due: none

docs: update CLAUDE.md documentation
  CLAUDE.md
Due: none

fix: use v8 coverage provider to resolve instrumentation errors
  jest.config.js
Due: lint

chore: configure Dependabot for automated dependency updates
  .github/dependabot.yml
Due: none

chore: update Dependabot schedule to Friday 12:30 PM
  .github/dependabot.yml
Due: none

style: format dependabot.yml with Prettier
  .github/dependabot.yml
Due: none

fix(security): resolve 19 of 23 npm audit vulnerabilities
  .gitignore
  package-lock.json
  scripts/check-updates.js
  scripts/check-vulnerabilities.js
  scripts/fix-remaining.js
  scripts/fix-vulnerabilities.js
  scripts/list-vulnerabilities.js
Due: lint

docs: add SECURITY.md with vulnerability status and resolution guide
  SECURITY.md
Due: none

style: format security scripts with Prettier
  scripts/check-updates.js
  scripts/check-vulnerabilities.js
  scripts/fix-remaining.js
Due: lint

Path conditions:
  lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  type-check: any of: \.(ts|mts|cts)$, \.tsx$
